In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("students.csv")

In [4]:
df["Average"] = df[["Math", "English", "Science"]].mean(axis=1)

In [5]:
highest_avg_student = df.loc[df["Average"].idxmax()]

In [6]:
print(df)

    Name  Math  English  Science    Average
0   Ayan    80       75       90  81.666667
1   Sara    92       88       95  91.666667
2  Bilal    76       69       72  72.333333
3  Mehak    88       90       84  87.333333
4   Zara    95       85       91  90.333333

In [8]:
df["Average"] = df[["Math", "English", "Science"]].mean(axis=1).astype(int)

In [9]:
print(df)

    Name  Math  English  Science  Average
0   Ayan    80       75       90       81
1   Sara    92       88       95       91
2  Bilal    76       69       72       72
3  Mehak    88       90       84       87
4   Zara    95       85       91       90

In [10]:
print(highest_avg_student)

Name            Sara
Math              92
English           88
Science           95
Average    91.666667
Name: 1, dtype: object